= form_for current_user.members.find_by_team_id(@team), |
:html => { :method => :delete }, :remote => true do |f| |
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default => "Leave Team")}")
    = t("web-app-theme.delete", :default => "Leave Team")
