= form_for(@team) do |f|
  = render 'shared/error_messages', :object => f.object
  %fieldset.new
    %legend Team Registration 

    = render 'form', :f => f

    .actions
      = f.submit "Create Team"
